# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fmfataaxetztfqecbndt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_lmPNZ1IqxtPicj6jZYuYgQ_n4DQttG8
SUPABASE_SERVICE_ROLE_KEY=sb_service_role_key_placeholder_needs_to_be_replaced

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key_here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here

# Other
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

